__pycache__/
.pytest_cache/
*.pyc
*.pyo
paper/*.aux
paper/*.bbl
paper/*.bcf
paper/*.blg
paper/*.fdb_latexmk
paper/*.fls
paper/*.log
paper/*.out
paper/*.run.xml
paper/*.synctex.gz
paper/*.toc
paper/*.xdv
paper/*.dvi
paper/main.pdf
